.cart {
    margin-top: 100px;
    overflow: hidden;

    .display {
        width: calc(100% - 200px);
        padding: 0 100px;


        @media all and (max-width: 1280px) {
            padding: 0 50px;
            width: calc(100% - 100px);
        }
        @media all and (max-width: 600px) {
            padding: 0 20px;
            width: calc(100% - 40px);
        }
    
    }

    .heading {
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media all and (max-width: 600px) {
            padding: 0 20px !important;
        }

        .title {
            font-weight: 800;
            margin-bottom: 20px;
            color: #474747;
            text-align: center;
        }

        .desc {
            color: gray;
            max-width: 500px;
            margin-bottom: 30px;
            text-align: center;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        margin-right: 0 !important;

        .cartContainer {
            
            min-width: 100% !important;
            display: flex;
            gap: 20px;

            @media all and (max-width: 768px) {
                flex-direction: column;
            }
            

            .cartList {

                @media all and (max-width: 768px) {
                    width: 100%;
                }

                
                flex: 2;
                padding-right: 20px;
                display: flex;
                flex-direction: column;
                max-height: 90vh;
                overflow-y: scroll;
                overflow-x: hidden;
                position: relative;
                &::-webkit-scrollbar {
                    background-color: lightgray;
                    width: 5px;
                    cursor: pointer;
                }
                &::-webkit-scrollbar-track {
                    background-color: lightgray;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: #8363ac8c;
                    cursor: pointer;
                }

                

                .cartListHeading {

                    @media all and (max-width: 400px) {
                            display: none;
                    }
                    width: calc(100% - 40px);
                    display: flex;
                    align-items: center;
                    background-color: #8363ac;
                    color: white;
                    padding: 10px 20px;
                    font-size: 17px;
                    font-weight: 600;
                    margin-bottom: 20px;
                    position: sticky;
                    top: 0;
                    left: 0;
                    .item {
                        flex: 2;

                        @media all and (max-width: 945px) {
                            flex: 2.5;
                        }

                        
                    }
                    .quantity {
                        flex: 2;

                        @media (min-width:769px) and (max-width:855px) {
                            flex: 1;
                        }
                    }
                    .subtotal {
                        flex: 1;
                    }

                }

                .cartListItem {
                    width: calc(100% - 20px);
                    display: flex;
                    align-items: center;
                    // -webkit-box-shadow: 0px 0px 24px -4px rgba(0,0,0,0.49);
                    // -moz-box-shadow: 0px 0px 24px -4px rgba(0,0,0,0.49);
                    // box-shadow: 0px 0px 24px -4px rgba(0,0,0,0.49);
                    border: 1px solid #f2f2f2;
                    padding: 10px;
                    margin-bottom: 20px;
                    background-color: #efeeff;

                    @media all and (max-width: 400px) {
                        gap: 20px;
                    }

                    .product {
                        flex: 2;
                        display: flex;
                        align-items: center;
                        margin-top: 0;

                        @media all and (max-width: 945px) {
                            flex: 2.5;
                        }

                        @media all and (max-width: 400px) {
                            flex-direction: column;
                            align-items: center;
                            gap: 20px;
                        }

                        
                        

                        img {
                            width: 75px;
                            height: 75px;
                            object-fit: cover;
                            border-radius: 5px;
                            margin-right: 10px;
                        }

                        .info {
                            display: flex;
                            flex-direction: column;

                            

                            .name {
                                 font-size: 16px;
                                 color: #8363ac;
                                 font-weight: 800;
                                 margin-bottom: 10px;
                            }

                            .price {
                                font-weight: 800;
                                font-size: 14px;
                                color: #606060;
                            }
                        }
                    }

                    .quantity {
                        flex: 2;
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        gap: 10px;

                        @media (min-width:769px) and (max-width:855px) {
                            flex: 1;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: center;
                        }

                        @media all and (max-width: 400px) {
                            gap: 20px;
                            flex-direction: column;
                        }

                        

                        span {

                            width: fit-content;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: #8363ac;
                            padding: 1px 4px;
                            color: white;
                            border-radius: 2px;
                            cursor: pointer;
                            font-size: 14px;

                            &.count {
                                background-color: transparent;
                                color: #606060;
                                font-weight: 700;
                            }

                            .icon {
                                font-size: 16px;

                                
                            }
                        }

                        .icon {
                            &.delete {
                                font-size: 20px;
                                color: rgb(251, 108, 108);
                                margin-left: 50px;
                                cursor: pointer;

                                @media all and (max-width: 1280px) {
                                    margin-left: 10px;
                                }

                                @media (min-width:769px) and (max-width:855px) {
                                    margin: 0;
                                }

                                @media all and (max-width: 400px) {
                                    margin: 0;
                                 }
                            }
                        }
                    }

                    .total {
                        flex: 1;
                        display: flex;
                        align-items: center;
                        justify-content: start;

                        @media all and (max-width: 400px) {
                            flex: 2;
                        }

                        .total {
                            font-weight: 800;
                            font-size: 16px;
                            color: #8363ac;
                        }

                    }
                }
            }

            .rightSide {
                @media all and (max-width: 768px) {
                    min-width: 100% !important;
                }
                flex: 1;
                display: flex;
                flex-direction: column;
                margin-bottom: 50px;

                .totals{
                    -webkit-box-shadow: 0px 0px 24px -4px rgba(0,0,0,0.49);
                    -moz-box-shadow: 0px 0px 24px -4px rgba(0,0,0,0.49);
                    box-shadow: 0px 0px 24px -4px rgba(0,0,0,0.49);
                    padding: 10px 20px;
                    margin-bottom: 5px;

                    display: flex;
                    flex-direction: column;

                    .title{
                        width: 100%;
                        font-size: 20px;
                        font-weight: 800;
                        color: #474747;
                        margin-bottom: 20px;
                        text-align: center;

                    }

                    .item {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        margin-bottom: 10px;

                        .key {
                            font-size: 18px;
                            font-weight: 700;
                            color: #606060;
                        }

                        .value {
                            font-size: 18px;
                            font-weight: 800;
                            color: #8363ac;
                        }
                    }

                    button {
                        font-size: 16px;
                        font-weight: 700;
                        background-color: #8363ac;
                        color: white;
                        border: none;
                        padding: 5px 0;
                        cursor: pointer;
                        border-radius: 5px;
                    }
                }

                .link {
                    display: flex;
                    align-items: center;
                    color: gray;
                    font-size: 14px;
                    margin-bottom: 20px;
                    cursor: pointer;
                    width: fit-content;

                    &:hover {
                        text-decoration: underline;
                    }
                    .icon {
                        font-size: 20px;

                    }
                }
            

                .extras {
                    display: flex;
                    flex-direction: column;
                    width: calc(100% - 40px);
                    -webkit-box-shadow: 0px 0px 24px -4px rgba(0,0,0,0.49);
                    -moz-box-shadow: 0px 0px 24px -4px rgba(0,0,0,0.49);
                    box-shadow: 0px 0px 24px -4px rgba(0,0,0,0.49);
                    padding: 10px 20px;
                    margin-bottom: 20px;

                    .item {
                        display: flex;
                        align-items: center;
                        color: rgb(159, 159, 159);
                        font-size: 14px;
                        margin-bottom: 5px;

                        .icon {
                            font-size: 20px;
                            margin-right: 5px;
                        }
                    }

                }

                .shippingInfo {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    -webkit-box-shadow: 0px 0px 24px -4px rgba(0,0,0,0.49);
                    -moz-box-shadow: 0px 0px 24px -4px rgba(0,0,0,0.49);
                    padding: 20px;

                    transform: translateX(calc(100% + 100px));
                    transition: all 0.3s ease-in-out;

                    &.open {
                        transform: translateX(0);
                        transition: all 0.3s ease-in-out;
                    }

                    .header {
                        width: calc(100% - 20px);
                        color: #8363ac;
                        padding: 5px 10px ;
                        font-size: 16px;
                        font-weight: 800;
                        text-align: center;
                    }

                    .desc {
                        font-size: 14px;
                        color: gray;
                        width: 200px;
                        text-align: center;
                        margin-bottom: 10px;
                    }

                    .address {
                        padding: 20px;
                        margin-bottom: 20px;

                        span {
                            display: flex;
                            width: 200px;
                            font-size: 14px;
                            color: gray;
                            align-items: center;

                            .icon {
                                margin-right: 10px;
                                color: #8363ac;
                            }
                        }
                    }

                    .btn {
                        border: none;
                        padding: 5px 10px;
                        background-color: #8363ac;
                        color: white;
                        border-radius: 5px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}