.message {
    position: fixed;
    top: 80px;
    right: 0;
    margin: 0 auto;
    width: 300px;
    height: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 10;
    -webkit-box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.75);
    
    

    transform: translateY(-105%);
    transition: all 0.3s ease-in-out;

    &.complete {
        transform: translateY(0);
        transition: all 0.3s ease-in-out;
        
    }

    span {
        padding: 5px 30px;
        color: red;
        font-size: 13px;
        font-weight: 400;
        width: 300px;
    }

    .timer {
        height: 5px;
        width: 100%;
        background-color: #f2f2f2;
        overflow: hidden;

        &.hide {
            opacity: 0;
        }

        .progress {
            background-color: #8363ac;
            height: 100%;
            width: 100%;
            overflow: hidden;

            

            &.fade {
                background-color: #8363ac;
                transform: translateX(-110%);
                transition: all 5s ease-in-out;
                
            }
        }
    }
}